body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/rakaposhi.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; /* Prevent background image from repeating */
}

.card-img-top {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 1440px) {
    .card-img-top { 
        height: 350px;
        object-position: bottom;
    }
}

@media (max-width: 1024px) {
    .btn-custom {
        padding: 0.25rem 0.5rem; 
        font-size: 0.75rem; 
    }
}