<% layout('layouts/boilerplate') %>
<h1 class="display-1 text-white">Register</h1>
<form action="/register" method="post" class="validated-form" novalidate>
    <div class="mb-3 text-white">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">
            Looks Good!
        </div>
    </div>
    <div class="mb-3 text-white">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">
            Looks Good!
        </div>
    </div>
    <div class="mb-3 text-white">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks Good!
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-success me-2">Register</button>
        <!-- <a class="btn btn-danger" href="/campgrounds">Back</a> -->
        <a href="/login" class="btn btn-link text-white">Already have an account? </a>
    </div>
</form>